kbd {
    background-color: #333;
    border-radius: 2px;
    color: #fff;
    font-size: .75em !important;
    padding: .5em;
}

.helper-comingsoon {
    display: inline-block;
}
.helper-comingsoon + small {
    font-size: .75em;
    font-style: italic;
    color: #949ca1;
}

.container {
    margin-top: 100px;
}

nav {
    width: 100%;
    position: fixed;
    background-color: #fff;
    border-bottom: 1px solid #e4e4e4;
}
nav .container {
   margin-top:0;
}
.nav {
    display: flex;
    padding: 0;
    list-style: none;
}
.nav__item {

}
.nav__item a {
    padding: 1em;
    color: #949ca1;
    text-decoration: none;
}
.nav__item a:active {
    text-decoration: underline;
}
.nav__item:hover {
    
}
.nav__item a:hover {
    color: #333;
    background-color: #e4e4e4;
}