.btn {
    border-radius: 2px;
    border: 1px solid darken($grey-secondary, 10%);
    background-color: rgba($grey-secondary, 1);
    padding: .25em;
    &:hover {
        background-color: darken($grey-secondary, 10%);
    }
    &.primary:hover {
        background-color: darken($color-primary, 10%);    
    }
    &.success:hover {
        background-color: darken($emerald, 10%);    
    }
    &.error:hover {
        background-color: darken($sunglo, 10%);    
    }
    &.warn:hover {
        background-color: darken($energy, 10%);    
    }
    &.info:hover {
        background-color: darken($fountain-blue, 10%);    
    }
    &:disabled {
        color: darken($grey-secondary, 10%);
        &:hover {
            background-color: rgba($grey-secondary, 1);
        }   
    }
}