.drawer {
    display: flex;
    width: auto;
    margin-left: auto;
    position: fixed;
    top: 0;
    right:0;
    min-height: 100%;
}

.drawer__toggle {
    height: 15px;
    width: 20px;
    padding: 1rem .5rem;
    font-size: 1em;
    color: $grey-primary;
    z-index: 999;
}
.drawer__panel {
    width: 200px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: $grey-secondary;
    border-left: 1px solid $grey-primary;
    padding: .5rem;
    margin-left: -1px;
    & h3 {
        text-align: center;
    }
    & h3:first-child {
        margin: .5em 0;
    }
    & hr {
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
        -webkit-margin-start: 0;
        -webkit-margin-end: 0;
    }
}