.notice {
	display: flex;
	position: fixed;
	right: 0;
	bottom: 0;
	justify-content: center;
	align-items: center;
	width: auto !important;
	background-color: rgba($text-default, 1);
	color: $white;
	margin: .5rem;
	padding: 1rem;
	z-index:999;
	&.success {
		background-color: rgba($emerald, 1);
		color: $white;
	}
	&.error {
		background-color: rgba($sunglo, 1);
		color: $white;
	}
	&.warn {
		background-color: rgba($energy, 1);
		color: $white;
	}
	&.info {
		background-color: rgba($fountain-blue, 1);
		color: $white;
	}
}
.notice__icon {
	margin-right: .5rem;
}
.notice__message {
	font-size: .75rem;
	& p {
		margin: 0;
	}
	& pre {
		margin: 0;
	}
}

.alert {
	@extend .notice;
	left: 0;
	right: 0;
	bottom: 0;
}
.alert__icon {
	@extend .notice__icon;
}
.alert__message {
	@extend .notice__message;
}
.alert__action {
	font-size: .75rem;
	color: $energy;
	&::before {
		content: " | ";
		color: $white;
	}
}

.modal {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	top: 0; right: 0; bottom: 0; left: 0;
	background-color: rgba($text-default, .25);
}
.modal__container {
	display: flex;
	flex-direction: column;
	min-width: 500px;
	min-height: 500px;
	background-color: $white;
	border: 1px solid palette(grey, light);
	padding: .25em;

	-webkit-box-shadow: 10px 10px 55px -15px rgba($color-shadow, 0.75);
	-moz-box-shadow: 10px 10px 55px -15px rgba($color-shadow, 0.75);
	box-shadow: 10px 10px 55px -15px rgba($color-shadow, 0.75);
}
.modal__header {
	display: flex;
	align-items:top;
	margin-bottom: auto;
}
.modal__header .modal__title {
	margin: 0;
	margin-left: auto;
}
.modal__header .modal__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	height: 16px;
	width: 16px;
	padding: .15em;
	border: 1px solid palette(grey, x-light);
	border-radius: 2px;
	color: palette(grey, light);
}
.modal__footer {
	display: flex;
	align-items: center;
	margin-top: auto;
	border-top: 1px solid palette(grey, x-light);
	padding-top: .25em;
}
.modal__footer button:first-child {
	margin-left: auto;
}

.tooltip {
	cursor: help;
	position: relative;
	font-style: italic;
	text-decoration: underline;
}

.tooltip::before,
.tooltip::after, {
	position: absolute;
	left: 50%;
	opacity: 0;
	z-index: -100;
}

.tooltip:hover::before,
.tooltip:hover::after,
.tooltip:focus::before,
.tooltip:focus::after, {
	opacity: 1;
	z-index: 100;
	transform: scale(1) tranlateY(0);
}

.tooltip::before {
	border-style: solid;
	border-width: 1em .75em 0 .75em;
	border-color: rgba($text-default, 1) transparent transparent transparent;
	bottom: 100%;
	margin-left: -.5em;
	content: "";
	transform: scale(.6) tranlateY(-90%);
	transition: all .65s cubic-bezier(.84, -0.18, .31, 1.26), .2s;
}

.tooltip:hover::before,
.tooltip:focus::before {
	transition-delay: .2s;
}

.tooltip::after {
	font-size: .75em;
	border-radius: 2px;
	background-color: rgba($text-default, 1);
	bottom: 174%;
	color: $white;
	width: 17.5em;
	padding: 1em;
	margin-left: -8.75em;
	content: attr(data-tooltip);
	transform: scale(.6) tranlateY(50%);
	transition: all .65s cubic-bezier(.84, -0.18, .31, 1.26), .2s;
}

.tooltip:hover::after,
.tooltip:focus::after {
	transition-delay: 0s;
}


