.primary {
    border: 1px solid darken($color-primary, 10%);
    background-color: rgba($color-primary, 1);
    color: $white;
}
.success {
    border: 1px solid darken($emerald, 10%);
    background-color: rgba($emerald, 1);
    color: $white;
}
.error {
    border: 1px solid darken($sunglo, 10%);
    background-color: rgba($sunglo, 1);
    color: $white;
}
.warn {
    border: 1px solid darken($energy, 10%);
    background-color: rgba($energy, 1);
    color: $white;
}
.info {
    border: 1px solid darken($fountain-blue, 10%);
    background-color: rgba($fountain-blue, 1);
    color: $white;
}